{% load i18n %}

<div id = "support">
<h2>Support</h2>

<h3>Form Authoring with XLSForms</h3>
KEDCO Surveys uses <a href="http://xlsform.org">XLSForm</a> standard to allow you to author forms in XLS. 
<br><br>
XLSForm is a form standard created to help simplify the authoring of forms using Excel. Authoring is done in a human readable format using a familiar tool that almost everyone knows - Excel. XLSForms provide a practical standard for sharing and collaborating on authoring forms. They are simple to get started with but allow for the authoring of complex forms by someone familiar with the syntax.
<br><br>
For a full reference please use: <a href="http://xlsform.org">XLSForm.org</a>.  Also, be sure to checkout the <a href="/forms">form gallery</a> which provides examples you can download and modify.

<h3>Support</h3>
If you encounter any problems using the KEDCO Surveys service please contact our support team at: <a href="mailto:itdevelop@kedco.ng">itdevelop@kedco.ng</a/>.

<H3>API Usage</h3>
KEDCO Surveys provides a robust REST API that allow integration with other tools.  We also use Ona's APIs extensively to power custom dashboards for our clients.

Please checkout the <a href="/api">KEDCO Surveys API Docs</a>.  If you have any comments, suggestions or questions about the API use please email us at: <a href="mailto:itdevelop@kedco.ng">itdevelop@kedco.ng</a>.

</div>
