{% load i18n %}

<div id = "support">
<h2>KEDCO Surveys Terms of Service</h2>
<p>
    Welcome to KEDCO Surveys, the website owned and operated by Kano Electricity Distribution Company (“KEDCO”).  This page explains the terms in which you may use the service for data collection, management and analysis purposes.  By using the Site or any services provided on the Site (collectively, “Services”), you acknowledge that you have read, understood, and agree to be bound by the following terms of service and any future modifications to this agreement (collectively, the “Terms”).  The Terms apply to all visitors, authorized users, and others who access the Service ("Users"). Your use of the Service indicates that you accept these Terms and to the collection and use of your information as set forth in KEDCO Surveys’s <a href="/privacy">Privacy Policy</a>. If you do not accept these Terms, do not use the Service.
</p>

<h3>Your Data</h3>
<p>
We take the privacy and security of your data seriously and will make all reasonable efforts to ensure it as defined in our  Privacy Policy.   We will never share your data with third parties.  Our team will not view your data directly, unless granted permission by you, in order to provide you technical assistance.

</p>

<h3>API Usage</h3>

<p>
When using the API you must include your account’s unique API key.  Unauthorized use of your API key, including transfer to another user, is prohibited. You may not use the API in any manner which could damage overburden or impair the ability of KEDCO Surveys to over the service to other users.  In such an event, KEDCO Surveys reserves the right to suspend or limit your accounts access to the API.
</p>

<h3>Disclaimers and Limitation of Liability</h3>
<p>
We disclaim all responsibility and liability for the availability, timeliness, security or reliability of the Services or Site, or any software provided through the Site. THE SITE AND THE SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR OTHERWISE. WITHOUT LIMITATION, WE DISCLAIM ANY AND ALL WARRANTIES REGARDING THE ACCURACY, SECURITY, RELIABILITY, TIMELINESS, AND PERFORMANCE OF ALL SERVICES ASSOCIATED WITH USE OF THE SITE AND THE SERVICES. WE MAKE NO WARRANTY, EXPRESS OR IMPLIED, THAT YOUR USE OF THE SITE AND THE SERVICES WILL BE UNINTERRUPTED, TIMELY, OR ERROR-FREE.  We will not be responsible for any harm to your computer, loss of data or other harm that results from your use of the Services.
</p>
<p>
TO THE EXTENT NOT PROHIBITED BY APPLICABLE LAW, WE WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF OR INABILITY TO USE THE SITE OR THE SERVICES. YOU EXPRESSLY AGREE THAT YOUR USE OF THE SITE AND THE SERVICES IS SOLELY AT YOUR OWN RISK. UNDER NO CIRCUMSTANCES SHALL WE BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, OR CONSEQUENTIAL DAMAGES, INCLUDING BUT NOT LIMITED TO LOSS OF PROFITS, INCOME, BUSINESS OPPORTUNITIES, AND ANY OTHER INJURY REGARDLESS OF THE NATURE OF THE CLAIM OR THE FORM OF ACTION, ARISING OUT OF OR CONNECTED WITH THE SITE (INCLUDING BUT NOT LIMITED TO ITS OPERATION, ITS CONTENTS, OR THE INFORMATION OR MATERIALS CONTAINED THEREIN, OR THE USE OR INABILITY TO USE THE SERVICES OR ANY OTHER SITE LINKED TO THE SITE, OR ANY CONTENT CONTAINED IN ANY SUCH SITE) EVEN IF WE, OR OUR SUPPLIERS OR LICENSORS HAVE BEEN NOTIFIED OF THE POSSIBILITY OF ANY DAMAGES.
</p>

</div>
